.btn-pending{
    background-color: rgba(226, 238, 159, 0.308);
}
.btn-ongoing{
    background-color: rgba(22, 241, 223, 0.205);
}
.btn-done{
    background-color: rgba(47, 2, 248, 0.062);
}

.pending{
    background-color: rgba(226, 238, 159, 0.308) !important;
}
.ongoing{
    background-color: rgba(22, 241, 223, 0.205) !important;
}
.done{
    background-color: rgba(47, 2, 248, 0.062) !important;
}

.curser{
    cursor: pointer;
}
tr{
    margin-top: 5px !important;
}