.brand-header{
  color: rgb(51, 20, 136);
  text-align:center;
  margin-top:20px;
  text-transform: uppercase;
}
.top-bar-brand {
  height: 100px;
  background-image: linear-gradient(60deg,#161616, #16b6b6 );
  margin-left: -15px;
}